\documentclass[a4paper,10pt]{scrartcl}
\usepackage[letterpaper,margin=0.75in]{geometry}
\usepackage{mdwlist}
\usepackage[T1]{fontenc}
\usepackage{textcomp}
\usepackage{tgpagella}
%\usepackage{pgfpages}
\usepackage{ngerman}
\usepackage{eurosym}
\usepackage{graphicx}
\usepackage{multicol}

% Break urls properly
\usepackage{hyperref}
\usepackage{etoolbox}
\appto\UrlBreaks{\do \-}

\setlength{\columnsep}{1cm}

\usepackage{makeidx}
\makeindex

%\pgfpagesuselayout{4 on 1}[a4paper]
%\pagestyle{empty}
\setlength{\tabcolsep}{0em}


\newcommand{\nextmessage}{\\\\}

\begin{document}
\begin{multicols}{2}